<%= form_with(model:[@department, @employee], local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-row">
    <div class="field form-group col-6">
      <%= form.label :name do%> 
        <strong>Primer nombre*</strong>
      <% end %>
      <%= form.text_field :name, id: :employee_name, class: "form-control", value:"#{employee.name}" %>
    </div>

    <div class="field form-group col-6">
      <%= form.label :last_name do%> 
        <strong>Apellido*</strong>
      <% end %>
      <%= form.text_field :last_name, id: :employee_last_name, class: "form-control", value:"#{employee.last_name}" %>
    </div>
  </div>

  <div class = "form-row">
    <div class="field form-group col-6">
      <%= form.label :dni do%> 
        <strong>Cédula*</strong>
      <% end %>
      <%= form.text_field :dni, id: :employee_dni, class: "form-control", value:"#{employee.dni}" %>
    </div>

    <div class="field form-group col-6  ">
      <%= form.label :phone_number do%> 
        <strong>Celular*</strong>
      <% end %>
      <%= form.text_field :phone_number, id: :employee_phone_number, class: "form-control", value:"#{employee.phone_number}" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :correo_electrónico %>
    <%= form.text_field :email, id: :employee_email, class: "form-control", value:"#{employee.email}" %>
  </div>

  <div class = "form-row">
    <div class="field form-group col-6">
      <%= form.label :banco %>
      <%= form.text_field :bank, id: :employee_bank, class: "form-control", value:"#{employee.bank}" %>
    </div>

    <div class="field form-group col-6">
    <%= form.label :tipo_de_cuenta %>
      <%= form.text_field :account_type, id: :employee_account_type, class: "form-control", value:"#{employee.account_type}" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :nro_de_cuenta %>
    <%= form.text_field :account_number, id: :employee_account_number, class: "form-control", value:"#{employee.account_number}" %>
  </div>

  <div class = "form-row">
    <div class="field form-group col-6">
      <%= form.label :telefono_fijo %>
      <%= form.text_field :phone_number_2, id: :employee_phone_number_2, class: "form-control", value:"#{employee.phone_number_2}" %>
    </div>

    <div class="field form-group col-6">
      <%= form.label :telefono_de_emergencia %>
      <%= form.text_field :phone_emergency, id: :employee_phone_emergency, class: "form-control", value:"#{employee.phone_emergency}" %>
    </div>
  </div>

  <%= form.text_field :department_id ,value: params["department_id"],id: :employee_department_id, hidden: true %>

  <div class="actions">
    <%= form.submit value: "Guardar", class:"col btn btn-primary"%>
  </div>
<% end %>
