<% if notice %>
  <p id="notice" class="alert alert-success alert-dismissible text-center fade show"><%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>

<div class = "row">
  <div class = "col-7">
    <div class = "row">
      <%= link_to '<', departments_path, class:"col-1"%>
      <h2 class= "col-11">Empleados de <span id="title"> <%=Department.find(params[:department_id]).name%> </span> </h2>
    </div>

    <% if @employees.length != 0 %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Celular</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.dni %></td>  
              <td><%= employee.name %></td>
              <td><%= employee.phone_number %></td>
              
              <td>
                <%= link_to (fa_icon "pencil-alt"), department_employees_path + "/?id-emp=#{employee.id}", class:"btn btn-outline-primary"%>
                <%= link_to (fa_icon "trash-alt"), department_employee_path(id: employee.id), method: :delete, data: { confirm: 'Estas a punto de borrar un empleado, ¿Estas seguro?' }, class:"btn btn-outline-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class = "row"> 

        <div class = "d-flex col justify-content-center"> 
          <%= image_tag("employees.jpg") %> 
        </div> 
            
        
      </div> 
      
      <div class = "row"> 
          <h4 class = "col text-center"> Aún no hay empleados </h4>
      </div>

      <div class = "row"> 
        <h6 class = "col text-center"> Puedes crear tu primer empleado utilizadno el siguietne formulario. </h6>
      </div>

    <% end %>
  </div>

  <div class = "col-5">     

    <% if params.key?("id-emp") %>
      <div class = "row"> 
        <div class = "col">       
          <h2>Modificar empleado</h2>
        </div>
      </div>      
      <div class = "row">      
        <div class = "col">              
          <%= render 'form' ,employee: @employee %> 
        </div>             
      </div> 

       
    <% else %>
      <div class = "row"> 
        <div class = "col">       
          <h2>Nuevo empleado</h2>
        </div>
      </div>

      <div class = "row">      
        <div class = "col">              
          <%= render 'form' ,employee: @employee %> 
        </div>             
      </div> 
    <% end %>

    <br>
  </div>
</div>

