<div class= "row">
  <div class= "d-flex col content-align-center mx-auto">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <h2>Registro de compañías</h2>

      <div class="field form-group">
        <%= f.label "Correo electrónico" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label "Nombre de la compañía" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label "Rif de la compañía" %><br />
        <%= f.text_field :rif, autofocus: true, autocomplete: "rif", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :Contraseña %>
        <% if @minimum_password_length %>
        (<%= @minimum_password_length %> caracteres mínimos)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.label :Confirmación_de_contraseña %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field form-group">
        <%= f.submit "Registrarse", class:"col btn btn-primary" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>  
</div>


