<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda de empleados" aria-label="Search">
    <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>