<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :nombre_del_departamento %>
    <%= form.text_field :name, id: :department_name, class: "form-control", value:"#{department.name}" %>
  </div>
  
  <%= form.number_field :company_id, id: :department_company_id, value: @user_id, hidden: true %>  

  <div class="actions">
    <%= form.submit value: "Guardar", class:"col btn btn-primary"%>
  </div>
<% end %>
