<% if notice %>
  <p id="notice" class="alert alert-success alert-dismissible text-center fade show"><%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </p>
<% end %>

<div class="row">
  <div class= "col-7"> 
    <div class="row">
      <h1 class= "col-12">Departamentos</h1>
    </div>
  
    <% if @departments.length != 0 %>    
      <table class="table table-striped">
        <thead>
          <tr>
            <th >Nombre del departamento</th>
            <th >Cantidad de empleados</th>      
            <th class= "text-center">Acciones</th>
          </tr>
        </thead>

        <tbody>
          <% @departments.each do |department| %>
            <tr> 
              <td><%= link_to  department.name, department_employees_path(department) %></td>
              <td class= "text-center"><%= department.employees.length %></td>
              <td >
                <%= link_to  department_employees_path(department), class:"btn btn-primary" do %>              
                  <i class="fas fa-users"></i>
                <% end %>                
                <%= link_to departments_path + "/?id=#{department.id}", class:"btn btn-outline-primary" do %>
                  <i class="fas fa-pencil-alt "></i>
                <% end %>
                <%= link_to (fa_icon "trash-alt"), department, method: :delete, data: { confirm: 'Estas a punto de borrar un departamento y por consecuencia todos sus trabajdores, ¿Estas seguro?' }, class:"btn btn-outline-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class = "row"> 

        <div class = "d-flex col justify-content-center"> 
          <%= image_tag("employees.jpg") %> 
        </div> 
            
      </div> 
        
      <div class = "row"> 
          <h4 class = "col text-center"> Aún no hay departamentos </h4>
      </div>

      <div class = "row"> 
        <h6 class = "col text-center"> Puedes crear tu primer departamento utilizadno el siguietne formulario. </h6>
      </div>

    <% end %>
  </div>
  
  <div class= "col-5"> 

    <% if params.key?("id") %>    
      <div class = "row"> 
        <div class = "col">       
          <h1>Modificar departamento</h1>
        </div>
      </div>

      <div class = "row">      
        <div class = "col">              
          <%= render 'form', department: @department, user_id: @user_id %> 
        </div>              
      </div>  

    <% else %>
      <div class = "row"> 
        <div class = "col">       
          <h2>Nuevo departamento</h2>
        </div>
      </div>

      <div class = "row">      
        <div class = "col">              
          <%= render 'form', department: @department, user_id: @user_id %> 
        </div>             
      </div>
    <% end %>
  </div>  

</div>

<%= link_to 'Log out', destroy_company_session_path, method: :delete %> |

