<div class= "row">
  <div class= "d-flex col content-align-center mx-auto">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mx-auto") do |f| %>
      <h2>Iniciar sesion</h2>
      <div class="field field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field field form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :recordarme %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit :Ingresar, class:"col btn btn-primary"%>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
    
  </div>
</div>

