/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome";

 .new_company {
   margin-right: auto !important;
   margin-left: auto !important;
 }

//  svg {
//    padding: 6px;
//    margin: 0px;
//    border:0.5px solid #007bff;
//    border-radius: 5px;
//    font-size: 4vh !important;
//  }

 a.col-auto{
   padding-right: 0px;
 }
 
 div h2  {
  padding-top: 1.5vh;
 }

 a.col-1 {
  font-size: 40px;
  padding: 0px;
  text-align: right;
  padding-right: 1vh;
  font-weight:bold;
 }

 h2.col-11 {
   padding: 0px;
   margin: 0px;
   padding-left: 13px;
   padding-top: 1.5vh;
 }

 span#title {
  color: #007bff;   
 }

div.col-5 h2 {
  margin-left: -1.5rem
}

div.col-5 h1 {
  margin-left: -1.5rem
}

.table th.fit {
  white-space: nowrap;
  width: 1%;
}