<!DOCTYPE html>
<html>
  <head>
    <title>PROYECTO8Juca</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
    <div class="container mx-auto">
     
      <%= yield %>
    </div>
  </body>
</html>
